.indicators-container {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid white;
    width: 180px;
}

.indicator-creator {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    border-top: 1px solid white;
    margin-top: 16px;
}

.indicator {
    font-family: inherit;
    height: 32px;
    margin: 2px 0 2px 0;
}

.indicator-title {
    padding-bottom: 16px;
    border-bottom: 1px solid white;
    margin-bottom: 16px;
}

.indicator-text-input {
    display: inline-block;
    font-family: inherit;
    width: 2rem;
    margin-inline: 4px;
    text-align: center;
}

.indicator-light-select {
    display: inline-block;
    font-family: inherit;
    width: 5rem;
    text-align: center;
}

.indicator-text-input, .indicator-text-input:hover, .indicator-text-input:active, .indicator-text-input:focus,
.indicator-light-select, .indicator-light-select:hover, .indicator-light-select:active, .indicator-light-select:focus {
    border: 1px solid #6d6d6d;
    outline: 0;
}

.indicator-text-input:focus, .indicator-light-select:focus {
    border-color: #646cff;
    border-style: solid;
}

.indicator-text {
    display: inline-block;
    color: white;
    width: 32px;
    padding: 4px;
    text-align: start;
}

.indicator-light {
    display: inline-block;
    color: white;
    width: 64px;
    padding: 4px;
    text-align: center;
    margin: 0px 2px 0px 2px;
}

.indicator-button {
    padding: 0;
    margin: 4px;
    width: 24px;
    height: 24px;
    display: inline-block;
    color: white;
    background-color: #3f3f3f00;
    border-radius: 16px;
    border: 1px solid white;
}

.indicator-button, .indicator-button:hover, .indicator-button:active, .indicator-button:focus {
    display: inline-block;
    outline: 0;
}

.indicator-delete:hover {
    border: 1px solid #ff3f3f;
}

.indicator-switch:hover {
    border: 1px solid #646cff;
}